.tibla{
  font-size: 20px;
  color:black;
  border-radius: 10px;
  border: 2px solid black;

}
.osnov{
  color:black;
  border: 1px solid Aquamarine;
}

.fint{
background-color:#F5F5F5;

}

.buttonn{
background-color:#4682B4;
font-size:20px; 
}
